.education {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-image: url("/assets/bgc.png");
	padding: 20px;

	h1 {
		color: #d4d4d1;
	}
}

@media only screen and (min-width: 768px) {
	.education {
		.vertical-timeline-element-title {
			font-size: 26px;
			color: #1d405c;
		}

		.vertical-timeline-element-subtitle {
			font-size: 24px;
			padding: 10px;
		}

		p {
			font-size: 22px;
		}

		.date {
			font-size: 20px;
		}
	}
}
