.experience {
	margin: 20px 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 768px) {
	.experience {
		.vertical-timeline-element-title {
			font-size: 26px;
			color: #1d405c;
		}

		.vertical-timeline-element-subtitle {
			font-size: 24px;
			padding: 10px;
		}

		.vertical-timeline-element--work {
			font-size: 24px;
		}

		.date {
			font-size: 22px;
		}
	}
}