.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: #CBCBCB;
	position: relative;
	bottom: 0;
	padding: 20px;
	z-index: -5;

	.year {
		color: rgb(73, 25, 73);
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) {
	.footer {

	.year {
		font-size: 32px;
	}
}
}

@media only screen and (min-width: 1024px) {
	.footer {

		.year {
			font-size: 18px;
		}
	}
}
