.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: #cbcbcb;
	position: relative;
	left: 0;
	bottom: 0;
	padding: 20px;

	.year {
		color: rgb(73, 25, 73);
		font-size: 16px;
	}
}

@media only screen and (min-width: 768px) {
	.footer {
		
		.year {
			font-size: 32px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.footer {
		.year {
			font-size: 18px;
		}
	}
}
