.home {
	width: 100%;
	align-items: center;
	color: #d4d4d1;
	background-image: url("/assets/bgc.png");
	padding: 20px;

	.about {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
		border-radius: 15px;
		background-color: rgba(16, 14, 14, 0.7);

		h1 {
			font-family: "Nunito", sans-serif;
			font-size: 22px;
		}

		.headline {
			width: 90%;
			padding: 10px;
			font-size: 18px;
			line-height: 25px;
			margin-top: 30px;

			.socials {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 60px;
				gap: 10px;

				.contactIcon {
					cursor: pointer;
					font-size: 32px;
					color: rgb(206, 186, 71);
				}
			}
		}
	}

	.skills {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		border-radius: 15px;
		background-color: rgba(16, 14, 14, 0.7);

		.group {
			margin: 20px 0;

			ul {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				gap: 5px;
				margin-top: 20px;

				li {
					list-style-type: none;
					background-color: rgba(rgb(189, 181, 181), 0.09);
					border-radius: 8px;
					padding: 5px;
					color: #d4d4d1;
				}
			}
		}
	}
}

@media only screen and (min-width: 320px) {
	.home {
		.about {
			padding: 20px 0 20px 0;
		}
	}
}

@media only screen and (min-width: 414px) {
	.home {
		.about {
			.headline {
				.socials {
					.contactIcon {
						font-size: 42px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home {
		.about {
			height: auto;
			padding: 100px;

			.headline {
				font-size: 32px;
				line-height: 40px;

				.socials {
					.contactIcon {
						font-size: 64px;
					}
				}
			}
		}

		.skills {
			font-size: 32px;
			margin-top: 0;

			.group {
				margin: 40px 0;

				ul {
					gap: 15px;
					margin-top: 30px;
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.home {
		.about {
			height: auto;
			padding: 200px 0 200px 0;

			.headline {
				.socials {
					justify-content: center;
					gap: 35px;

					.contactIcon {
						font-size: 62px;

					}
				}
			}
		}

		.skills {
			h2 {
				font-size: 36px;
			}
			.list {
				.item {
					.details {
						ul {
							margin: 20px;

							li {
								font-size: 28px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	.home {
		.about {


			.headline {
				.socials {
					gap: 2px;
					justify-content: center;

					.contactIcon {
						font-size: 42px;
						margin: 10px;
					}
				}
			}
		}

		.skills {
			margin-top: 0;
			font-size: 20px;
			// background-color: transparent;
		}
	}
}
