.home {
	width: 100%;
	align-items: center;
	color: #d4d4d1;
	background-image: url("/assets/bgc.png");
	background-size: cover;
	padding: 20px;

	.about {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;

		h1 {
			font-family: "Nunito", sans-serif;
			font-size: 22px;
		}

		.headline {
			width: 90%;
			padding: 10px;
			font-size: 18px;
			line-height: 25px;
			margin-top: 30px;

			.socials {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 60px;
				gap: 10px;

				.contactIcon {
					cursor: pointer;
					font-size: 32px;
					color: rgb(206, 186, 71);
				}
			}
		}
	}

	.skills {
		display: flex;
		flex-direction: column;
		margin-top: 50px;

		.group {
			margin: 20px 0;

			ul {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				gap: 5px;
				margin-top: 20px;

				li {
					list-style-type: none;
					background-color: rgba(rgb(189, 181, 181), .09);
					border-radius: 8px;
					padding: 5px;
					color: #d4d4d1;
				}
			}
		}
	}
}

@media only screen and (min-width: 320px) {
	.home {
		.about {
			padding: 20px 0 20px 0;
		}
	}
}

@media only screen and (min-width: 414px) {
	.home {
		.about {
			.headline {
				font-size: 22px;

				.contactIcon {
					font-size: 36px;
				}
			}
		}

		.skills {
			height: 350px;

			h2 {
				font-size: 32px;
			}

			.list {
				.item {
					padding: 10px;

					.details {
						ul {
							li {
								font-size: 18px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 768px) {
	.home {
		.about {
			height: auto;
			padding: 100px;

			.headline {
				font-size: 32px;
			}
		}

		.skills {
			.list {
				.item {
					.details {
						ul {
							li {
								font-size: 24px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.home {
		.about {
			height: auto;
			padding: 200px 0 200px 0;

			.headline {
				.contactIcon {
					font-size: 62px;
				}
			}
		}

		.skills {
			h2 {
				font-size: 36px;
			}
			.list {
				.item {
					.details {
						ul {
							margin: 20px;

							li {
								font-size: 28px;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	.home {
		.about {
			padding: 200px 0 50px 0;
		}
	}
}
