.project {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
	background-image: url("/assets/bgc.png");

	h1 {
		margin: 10px 0 20px 0;
		color: #d4d4d1;
		font-size: 22px;
		text-decoration: none;
	}

	img {
		width: 100%;
		margin-bottom: 15px;
	}

	h3,
	p,
	li {
		font-size: 18px;
		color: #d4d4d1;
	}

	.skills {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 5px;
		margin-top: 10px;
		border-radius: 15px;
		background-color: rgba(16, 14, 14, 0.7);
		padding: 10px;

		.skill {
			list-style-type: none;
			background-color: rgba(rgb(189, 181, 181), 0.09);
			border-radius: 8px;
			padding: 5px;
			color: #d4d4d1;
		}
	}

	.functionalities {
		margin: 15px 0 40px 0;
		border-radius: 15px;
		background-color: rgba(16, 14, 14, 0.7);
		padding: 10px;

		ul {
			text-align: center;

			li {
				list-style: none;
				padding: 5px;
				display: inline-block;
			}
		}
	}

	h3 {
		margin: 15px 0 10px 0;
	}
}

@media only screen and (min-width: 768px) {
	.project {


		img {
			max-width: 400px;
		}

		h1 {
			font-size: 32px;
		}

		h3 {
			font-size: 28px;
		}

		p {
			font-size: 24px;
		}

		ul {
			li {
				font-size: 26px;
			}
		}
	}
}

@media only screen and (min-width: 1024px) {
	.project {
		img {
			margin-bottom: 40px;
			max-width: 500px;
		}

		h3 {
			font-size: 28px;
		}

		p {
			font-size: 24px;
		}

		ol {
			li {
				font-size: 24px;
			}
		}
	}
}

@media only screen and (min-width: 1400px) {
	.project {
		ol {
			margin-bottom: 40px;
		}
	}
}
