.project {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: auto;

	h1 {
		margin: 30px;
		color: #408fce;
		font-size: 22px;
		text-decoration: none;
	}

	img {
		max-width: 250px;
		border-radius: 10px;
		background-position: center;
	}

	h3, p, li {
		font-size: 18px;
		color: #408fce;
	}

	h3 {
		margin: 15px 0 10px 0;
	}

	ul {
		margin-bottom: 20px;
	}

}

@media only screen and (min-width: 320px) {
	.project {
		height: 100vh;

		p {
			font-size: 18px;
			margin-top: 22px;
		}
	}
}

@media only screen and (min-width: 768px) {
	.project {
		height: calc(100vh - 100px - 62px);

		img {
			max-width: 400px;
		}
	}
}
