@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@800&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

ul li, p {
  font-size: 16px;
}

@media only screen and (min-width: 768px) {
  h1 {
      font-size: 26px;
    }

  h3,
  ul li, p {
    font-size: 20px;
  }
}

@media only screen and (min-width: 2560px) {
  h1 {
    font-size: 54px;
    padding-bottom: 20px;
  }

  h3,
  ul li, p {
    font-size: 44px;
  }
}

@media only screen and (min-width: 3840px) {
  h1 {
    font-size: 72px;
  }

  h3,
  ul li, p {
    font-size: 48px;
  }
}