.nightSky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	z-index: -1;
	background: rgb(80, 51, 138);
	background: linear-gradient(280deg, rgb(11, 3, 28) 0%, rgba(4, 4, 9, 1) 60%);

	.star {
		position: absolute;
		background-color: rgb(255, 255, 255);
		border-radius: 50%;
		width: 2px;
		height: 2px;
		opacity: 0.8;
	}
}
